<%- include("includes/head") %> 
<body>
    <%- include("includes/navbar") %>
    <div class="login">
        <div class="login-form">
            <h2 class="login-text">Log In</h2>
            <form method="POST" action="/admin/login">
                <input class="login-input" type="text" name="username" placeholder="Username" required/>
                <input class="login-input" type="password" name="password" placeholder="Password" required/>
                <% if (error) { %>
                    <h4><%= error %> </h4>
                <% } %>
                <button class="btn login-btn" type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>